<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PUGX Book</title>
    {% block stylesheets %}
        <link href="{{ asset('/css/main.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
</head>
<body>
    <div id="container">
        <div id="sidebar">
            <ul class="navbar">
                <li><a href="{{ path('pugx_book_homepage') }}">Home</a></li>
                <li><a href="{{ path('pugx_book_list') }}">Books</a></li>
                <li><a href="{{ path('pugx_book_create') }}">Insert Book</a></li>
            </ul>
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('/js/jquery.js') }}" type="text/javascript"></script>
    {% endblock %}
</body>
</html>