.book-list th {
    text-align: left;
    padding:10px;
}

.book-list td {
    padding:10px;
}

.book-list tr.odd {
    background-color: #ffffff;
}

.book-list tr.even {
    background-color: #aaaaaa;
}


