{% extends '::base.html.twig' %}

{% block content %}
    <h1>Create Book</h1>

    <form action="{{ path('pugx_book_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>
{% endblock %}